:root {
    /* Main Colors */
    --main-color-50: #d6ecfa;
    --main-color-100: #accee5;
    --main-color-200: #7aaacc;
    --main-color-300: #4680a9;
    --main-color-400: #144466;
    --main-color-500: #021726;
    --error-color-100: #e5acac;
    --error-color-200: #cc7a7a;
    --error-color-300: #a94646;
    --error-color-400: #661414;
    --error-color-500: #260202;
    --warning-color-100: #e5c9ac;
    --warning-color-200: #cca37a;
    --warning-color-300: #c08245;
    --warning-color-400: #663d14;
    --warning-color-500: #261402;
    --success-color-100: #ace5ba;
    --success-color-200: #7acc8f;
    --success-color-300: #46a95f;
    --success-color-400: #146629;
    --success-color-500: #011a07;

    /* General Colors */
    --background-color-light: #fffeed;
    --neutral-color-100: #a3b3bf;
    --neutral-color-200: #6a7f8d;
    --neutral-color-300: #3f5d73;
    --neutral-color-400: #162e3f;
    --neutral-color-500: #020d14;

    /* Other */
    --bs-body-bg: var(--background-color-light);
}

/* General */
html {
    background-color: var(--main-color-light);
    scroll-behavior: smooth !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--neutral-color-500);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-quattrocento-sans);
    line-height: 165%;
}

img {
    width: auto;
    height: auto;
}

a {
    color: var(--main-color-200);
    text-decoration: none;

    &.book-link {
        font-style: italic;
    }

    &:hover {
        color: var(--main-color-300);
    }
}

h2 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2em;
}

h3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
}

.container {
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 30px;
}

hr {
    height: 0;
    margin: 25px 10px;
    color: var(--neutral-color-200);
    border: 1px solid currentcolor;
    border-radius: 3px;
}

.tooltip-text {
    text-decoration: underline dotted;
    cursor: pointer;
}

.tooltip-inner {
    font-family: var(--font-quattrocento-sans);
}

.grid {
    display: grid;
    margin-top: 15px;
    margin-bottom: 40px;
    grid-template-columns: var(--grid-columns, 1fr 1fr);
    column-gap: 25px;

    & img {
        max-width: 100%;
    }
}

/* Navigation Bar/Header */
#header {
    margin-bottom: 20px;
    padding: 30px 0;
    font-weight: bold;
    font-size: 40px;
    font-family: var(--font-quattrocento-sans);
    text-align: center;
    line-height: normal;
    letter-spacing: 0.02em;
    background: url("/images/header.png") no-repeat center;
    background-size: cover;
    background-color: rgb(255 255 255 / 50%);
    background-blend-mode: lighten;
    mask: linear-gradient(to bottom, black 0, black 60%, rgb(0 0 0 / 0%) 95%, rgb(0 0 0 / 0%) 0) 100% 50% / 100% 100% repeat-x;

    @media (width <= 700px) {
        font-size: 25px;
    }

    & h1 a {
        color: var(--neutral-color-500);
        font-weight: bold;
    }

    & nav {
        margin-bottom: 10px;
        text-align: center;

        & ul {
            display: inline-block;
            padding-inline-start: 0;
            vertical-align: top;
            list-style-type: none;

            & li {
                position: relative;
                display: inline-block;

                & a {
                    margin: 0 15px;
                    padding: 5px;
                    color: var(--neutral-color-200);
                    font-weight: 400;
                    font-size: 16px;
                    font-family: var(--font-quattrocento-sans);
                    text-transform: uppercase;
                    line-height: 19px;
                    letter-spacing: 0.07em;
                    background-color: rgb(255 254 237 / 75%);
                    border-radius: 5px;
                    transition: color 300ms linear;

                    @media (width <= 700px) {
                        font-size: 14px;
                    }

                    &:hover {
                        color: var(--neutral-color-400);
                    }
                }

                &#active a {
                    color: var(--neutral-color-400);
                    font-weight: bold;
                }
            }
        }
    }
}

/* Error Page */
.error-page-container {
    padding-top: 50px;
    text-align: center;

    & a {
        font-weight: bold;
        font-size: 20px;
    }
}

/* Main Page */
.welcome {
    padding-block: 10px;
    color: var(--neutral-color-200);
    font-weight: bold;
    font-size: 18px;
    line-height: 175%;
}

/* Books Page */
.book-image {
    width: 100%;
}

.book-grid {
    --grid-columns: 1fr 2fr;

    scroll-margin-top: 20px;

    & .title-link a {
        color: var(--neutral-color-500);
    }

    & .book-description {
        white-space: pre-line;
    }

    & .book-data {
        margin-top: 1rem;
        padding-left: 0;

        & li {
            list-style: none;
        }
    }

    & .purchase-links {
        display: block;
        width: 100%;
        text-align: right;

        & img {
            max-width: 100%;
            height: 25px;
            margin: 20px;
        }
    }
}

/* Contact Page */
#form-container {
    position: relative;
    width: 500px;
    max-width: 100%;

    & #noscript-overlay {
        position: absolute;
        top: 5px;
        left: -10px;
        display: flex;
        width: calc(100% + 20px);
        height: calc(100% + 5px);
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(0 0 0 / 40%);

        & p {
            color: var(--error-color-300);
            font-weight: bold;
            font-size: 30px;
            line-height: 100%;
        }
    }
}

.form-control,
.form-control:focus {
    background-color: white;
}

@media (width <= 600px) {
    #recaptcha {
        transform: scale(0.8);
        transform-origin: 0 0;
    }
}

/* Audiobooks Page */
.audiobook-player-row {
    display: flex;
    gap: 80px;

    @media (width <= 700px) {
        flex-direction: column-reverse;
        gap: 30px;
    }
}

.audiobooks {
    display: flex;
    max-height: calc(100vh - 300px);
    padding-right: 12px;
    flex-direction: column;
    gap: 20px;
    mask-image: linear-gradient(to bottom, black 90%, transparent);
    overflow-y: scroll;

    @media (width <= 700px) {
        max-height: none;
        overflow-y: visible;
    }
}

.audiobook-header {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    gap: 5px;

    & > svg {
        font-size: 20px;
        cursor: pointer;
    }

    & h3 {
        margin-bottom: 0;

        & svg {
            margin-bottom: 1px;
            margin-left: 4px;
            font-size: 15px;
        }
    }
}

.audiobook-tracks {
    display: grid;
    margin-bottom: 10px;
    gap: 8px;
}

.audiobook-track {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    text-align: center;
    background-color: var(--main-color-50);
    border: 2px solid var(--main-color-300);
    border-radius: 5px;
    cursor: pointer;

    &.audiobook-track-active {
        background-color: var(--main-color-100);
        border-color: var(--main-color-300);
    }

    & .audiobook-track-duration {
        margin-left: auto;
    }
}

.audiobook-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .book-image {
        max-width: 200px;
    }

    @media (width <= 700px) {
        position: static;
    }

    .rap-container {
        width: 400px;

        @media (width <= 700px) {
            width: 100%;
        }

        .rap-controls {
            font-size: 14px;
            font-family: monospace !important;
        }
    }
}

.audiobook-player-title-container {
    text-align: center;

    .audiobook-player-title {
        font-weight: bold;
    }

    .audiobook-player-album {
        font-style: italic;
    }
}
